.nav-bar {
	background-color: #222;
	display: flex;
	justify-content: center;
}

.nav-bar__item {
	color: white;
	padding: 1em;
	text-align: center;
	text-decoration: none;
}

.nav-bar__item:hover {
	background-color: blue;
}
